<script type="text/javascript">
  $(document).ready(function(){
      $(".map-image").elevateZoom({
        scrollZoom : true,
        responsive:  true,
        loadingIcon: true
      });
      $('#list').click(function(event){event.preventDefault();$('#maps .item').addClass('list-group-item');});
      $('#grid').click(function(event){event.preventDefault();$('#maps .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
  });
</script>
<% if maps.size > 0 %>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Search results:
          </h1>
      </div>
  </div>
  <div id="maps" class="row list-group">
  <% maps.each do |map| %>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading"><%= map.name %></h4>
                    <p class="group inner list-group-item-text"><%= truncate(map.description, length: 100) %></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $21.000</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <% end %>
  </div>
<% else %>
    <div class="jumbotron">
      <div class="hero-unit center">
        <h1><%= t(:names_not_found, :scope => [:application]) %></h1>
      </div>
    </div>
<% end %>