<div class="row">
  <div id="gallery">
    <% @maps.each do |map| %>
      <a href="<%= map.image.url(:original) %>">
        <%= image_tag map.image.url(:medium) %>
      </a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#gallery").justifiedGallery({
      rowHeight: 240
    });
  });
</script>