<div class="row">
  <div id="gallery">
    <% @maps.each do |map| %>
      <a href="<%= map.image.url(:large) %>" data-toggle="lightbox" data-title="<%= map.image.original_filename %>">
        <%= image_tag map.image.url(:medium) %>
      </a>
    <% end %>
  </div>
  <center><%= paginate @maps %></center>
</div>
