<div class="row">
  <div class="col-md-6">
    <div class="img-overlay">
      <%= image_tag @map.image.url(:large), :class => 'img-responsive img-rounded' %>
      <div id="grid-source" class="grid-overlay"></div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- EDITING TOOLS -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <button type="button" class="btn btn-default btn-sm navbar-btn" value="polygon" onclick="toggleControl(this);">
                <i class="glyphicon glyphicon-edit"></i>
                Polygon
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-sm navbar-btn" value="box" onclick="toggleControl(this);">
                <i class="glyphicon glyphicon-stop"></i>
                Rectangle
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-sm navbar-btn" value="edit" onclick="toggleControl(this);">
                <i class="glyphicon glyphicon-wrench"></i>
                Edit
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-sm navbar-btn" value="select" onclick="toggleControl(this);">
                <i class="glyphicon glyphicon-hand-up"></i>
                Select
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-sm navbar-btn" value="nav" onclick="toggleControl(this);">
                <i class="glyphicon glyphicon-screenshot"></i>
                Move
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default navbar-btn btn-sm" value="nav" onclick="toggleControl(this);">
                <i class="glyphicon glyphicon-minus-sign"></i>
                Delete
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END EDITING TOOLS -->

    <!-- MAP -->
    <%= render :partial => 'map_location' %>
    <!-- END MAP -->

    <!-- INPUT BAR -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Label #1">
              </div>
              <button type="submit" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-ok-sign"></i>
                Save
              </button>
            </form>
          </div>
      </div>
    </nav>
    <!-- END INPUT BAR -->
  </div>
</div>