<script>
  $(function() {
      $('.ticket-message').editable({
      	inlineMode: false, 
      	height: '300',
      	toolbarFixed: false,
      	paragraphy: false
      });
  });
</script>

<div class="modal-body">
      <textarea id="ticket_message" name="ticket[message]" class="ticket-message"><%= ticket.message %></textarea>
</div>
